/**************************************
/************ CSS TRIGGER *************
**************************************/
.trigger{position: relative; padding: 20px; color: #333; background: #ccc; border: 1px solid #333; font:400 14px 'Verdana', sans-serif;}
.trigger{border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}
.trigger .ajax_close{position: absolute; right: 10px; cursor: pointer; top: 10px; background: black; width: 20px; height: 20px; display: none;}
.trigger.success{background-color: #E5F8CE; border-color: #D0F1A6;}
.trigger.info{background-color: #D1ECF7; border-color: #BCDFEF;}
.trigger.warning{background-color: #FFF6BF; border-color: #FCEB77;}
.trigger.danger{background-color: #FAD0D0; border-color: #F6ABAB;}

/**************************************
/************ LOGIN *******************
**************************************/
.login .mdl-card{padding: 1em;}
.login.mdl-grid{background: #eee url('../img/bg02.png') repeat; height: 100%; padding: 0px;}
.login button{width: 10em; height: 3em; margin-bottom: 1em}

/**************************************
/************ DASHBOARD *******************
**************************************/
.outer-nav a { text-decoration: none; }
.outer-nav a i { margin-right: 1em; }